@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    /* width */
    ::-webkit-scrollbar {
      @apply w-1;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      @apply rounded-full bg-base-content w-1;
    }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
      @apply bg-base-300 rounded-full w-1;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      @apply bg-accent;
    }
  
  }
  .loading-spinner {
    position: absolute; /* child */
    top: 50%;
    left: 50%;
    margin-left: -39px; /* half of width*/
    margin-top: -39px; /* half of height */
  }